! CreateDate: 3/6/2014 4:06:29 PM
!Comment: 
!User: 


!Command: show running-config
!Time: Fri Mar  7 00:06:09 2014

version 5.0(3)U5(1f)
no feature telnet
no telnet server enable
feature tacacs+
feature bgp
feature interface-vlan
feature lacp
feature dhcp

role name default-role
  description This is a system defined role and applies to all users.
  rule 5 permit command show feature environment
  rule 4 permit command show feature hardware
  rule 3 permit command show feature module
  rule 2 permit command show feature snmp
  rule 1 permit command show feature system
role name tier1-ro
  description Tier1 RO accounts
  rule 6 permit command copy running-config *
  rule 5 permit command telnet *
  rule 4 permit command ssh *
  rule 3 permit command traceroute *
  rule 2 permit command ping *
  rule 1 permit read  
role name tier1-rw
  description Tier1 RW Accounts
  rule 7 permit command copy running-config *
  rule 6 permit command clear *
  rule 5 permit command telnet *
  rule 4 permit command ssh *
  rule 3 permit command traceroute *
  rule 2 permit command ping *
  rule 1 permit read  
role name tools
  description Tools Accounts
  rule 2 permit command copy running-config *
  rule 1 permit read  
role name no-access
  description No Access Accounts
  rule 1 deny command *
username admin password 5 $1$5SAHNOT2$etJcBoZZnF3KOmnZ/5Tdx/  role network-admin
username failback password 5 $1$I2xa2O.8$EL0SUT5pX6DQysqhIu3Ig0  role network-admin
no password strength-check

banner motd #
NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE

Unauthorized access and/or use prohibited.
All access and/or use subject to monitoring.

NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE   NOTICE
#

no ip domain-lookup
ip domain-name ntwk.msn.net use-vrf management
tacacs-server key 7 "5z7k533g97ph5be64w4983603i627j7f"
ip tacacs source-interface mgmt0
tacacs-server host 10.20.214.58 
tacacs-server host 10.20.230.246 
tacacs-server host 10.20.16.25 
aaa group server tacacs+ tacacs 
    server 10.20.214.58 
    server 10.20.230.246 
    server 10.20.16.25 
    use-vrf management
hostname cys01-x3sb-xcg-2-1a
hardware profile unicast enable-host-ecmp
ipv6 access-list copp-system-acl-dhcpc6
  10 permit udp any any eq 546
ipv6 access-list copp-system-acl-dhcps6
  10 permit udp any ff02::0001:0002/128 eq 547
  20 permit udp any ff05::0001:0003/128 eq 547
ip access-list copp-system-acl-eigrp
  10 permit eigrp any 224.0.0.10/32
ipv6 access-list copp-system-acl-eigrp6
  10 permit 88 any ff02::000a/128
ip access-list copp-system-acl-icmp
  10 permit icmp any any
ip access-list copp-system-acl-igmp
  10 permit igmp any any
ip access-list copp-system-acl-ntp
  10 permit udp any any eq ntp
  20 permit udp any eq ntp any
ip access-list copp-system-acl-pimreg
  10 permit pim any any
ip access-list copp-system-acl-ping
  10 permit icmp any any echo
  20 permit icmp any any echo-reply
ip access-list copp-system-acl-routingproto1
  10 permit tcp any gt 1024 any eq bgp
  20 permit tcp any eq bgp any gt 1024
  30 permit udp any 224.0.0.0/24 eq rip
  40 permit tcp any gt 1024 any eq 639
  50 permit tcp any eq 639 any gt 1024
  70 permit ospf any any
  80 permit ospf any 224.0.0.5/32
  90 permit ospf any 224.0.0.6/32
ip access-list copp-system-acl-routingproto2
  10 permit udp any 224.0.0.0/24 eq 1985
  20 permit 112 any 224.0.0.0/24
ip access-list copp-system-acl-snmp
  10 permit udp any any eq snmp
  20 permit udp any any eq snmptrap
ip access-list copp-system-acl-ssh
  10 permit tcp any any eq 22
  20 permit tcp any eq 22 any
ip access-list copp-system-acl-stftp
  10 permit udp any any eq tftp
  20 permit udp any any eq 1758
  30 permit udp any eq tftp any
  40 permit udp any eq 1758 any
  50 permit tcp any any eq 115
  60 permit tcp any eq 115 any
ip access-list copp-system-acl-tacacsradius
  10 permit tcp any any eq tacacs
  20 permit tcp any eq tacacs any
  30 permit udp any any eq 1812
  40 permit udp any any eq 1813
  50 permit udp any any eq 1645
  60 permit udp any any eq 1646
  70 permit udp any eq 1812 any
  80 permit udp any eq 1813 any
  90 permit udp any eq 1645 any
  100 permit udp any eq 1646 any
ip access-list copp-system-acl-telnet
  10 permit tcp any any eq telnet
  20 permit tcp any any eq 107
  30 permit tcp any eq telnet any
  40 permit tcp any eq 107 any
ipv6 access-list copp-system-acl-v6routingProto2
  10 permit udp any ff02::0066/128 eq 2029
  20 permit udp any ff02::00fb/128 eq 5353
ipv6 access-list copp-system-acl-v6routingproto1
  10 permit 89 any ff02::0005/128
  20 permit 89 any ff02::0006/128
  30 permit udp any ff02::0009/128 eq 521
ip access-list copp-system-dhcp-relay
  10 permit udp any eq bootps any eq bootps
ipv6 access-list ipv6-ssh-only
  10 deny ipv6 any any
ip access-list mgmt-only
  10 remark ssh access for the vty.
  20 permit tcp 10.20.0.0/19 any eq 22
  30 remark snmp access from the GIL.
  40 permit udp 10.20.0.0/19 any eq snmp
  50 remark ICMP access for pings and traceroute
  60 permit icmp any any
  70 remark general return traffic
  80 permit tcp any any established
  90 remark NTP return traffic
  100 permit udp 10.20.0.0/16 any eq ntp
  110 remark DNS return traffic
  120 permit udp 10.20.0.0/16 eq domain any gt 1023
  130 remark traceroute return
  140 permit udp any any range 33434 33523
  150 remark active ftp to the GIL.
  160 permit tcp 10.20.0.0/19 eq ftp-data any gt 1023
  170 remark tftp to the GIL
  180 permit udp 10.20.0.0/19 any gt 1023
  190 permit udp 10.0.0.0/8 any eq 3200
  200 remark vpc packets
  210 remark permit property access
ip access-list snmp-only
  10 permit udp 10.20.0.0/19 any
  20 permit udp 141.251.224.0/19 any
ip access-list ssh-only
  10 permit tcp 10.20.0.0/19 any eq 22
  20 permit tcp 141.251.224.0/19 any eq 22
policy-map type network-qos jumbo
  class type network-qos class-default
    mtu 9216
system qos
  service-policy type network-qos jumbo
class-map type control-plane match-any copp-icmp
  match access-group name copp-system-acl-icmp
class-map type control-plane match-any copp-ntp
  match access-group name copp-system-acl-ntp
class-map type control-plane match-any copp-s-arp
class-map type control-plane match-any copp-s-bfd
class-map type control-plane match-any copp-s-bpdu
class-map type control-plane match-any copp-s-dai
class-map type control-plane match-any copp-s-default
class-map type control-plane match-any copp-s-dhcpreq
  match access-group name copp-system-acl-dhcps6
class-map type control-plane match-any copp-s-dhcpresp
  match access-group name copp-system-acl-dhcpc6
  match access-group name copp-system-dhcp-relay
class-map type control-plane match-any copp-s-eigrp
  match access-group name copp-system-acl-eigrp
  match access-group name copp-system-acl-eigrp6
class-map type control-plane match-any copp-s-glean
class-map type control-plane match-any copp-s-igmp
  match access-group name copp-system-acl-igmp
class-map type control-plane match-any copp-s-ipmcmiss
class-map type control-plane match-any copp-s-l2switched
class-map type control-plane match-any copp-s-l3destmiss
class-map type control-plane match-any copp-s-l3mtufail
class-map type control-plane match-any copp-s-l3slowpath
class-map type control-plane match-any copp-s-pimautorp
class-map type control-plane match-any copp-s-pimreg
  match access-group name copp-system-acl-pimreg
class-map type control-plane match-any copp-s-ping
  match access-group name copp-system-acl-ping
class-map type control-plane match-any copp-s-ptp
class-map type control-plane match-any copp-s-routingProto1
  match access-group name copp-system-acl-routingproto1
  match access-group name copp-system-acl-v6routingproto1
class-map type control-plane match-any copp-s-routingProto2
  match access-group name copp-system-acl-routingproto2
class-map type control-plane match-any copp-s-selfIp
class-map type control-plane match-any copp-s-ttl1
class-map type control-plane match-any copp-s-v6routingProto2
  match access-group name copp-system-acl-v6routingProto2
class-map type control-plane match-any copp-snmp
  match access-group name copp-system-acl-snmp
class-map type control-plane match-any copp-ssh
  match access-group name copp-system-acl-ssh
class-map type control-plane match-any copp-stftp
  match access-group name copp-system-acl-stftp
class-map type control-plane match-any copp-tacacsradius
  match access-group name copp-system-acl-tacacsradius
class-map type control-plane match-any copp-telnet
  match access-group name copp-system-acl-telnet
policy-map type control-plane copp-system-policy 
  class copp-s-selfIp
    police pps 500 
  class copp-s-default
    police pps 400 
  class copp-s-l2switched
    police pps 200 
  class copp-s-ping
    police pps 100 
  class copp-s-l3destmiss
    police pps 100 
  class copp-s-glean
    police pps 500 
  class copp-s-l3mtufail
    police pps 100 
  class copp-s-ttl1
    police pps 100 
  class copp-s-ipmcmiss
    police pps 400 
  class copp-s-l3slowpath
    police pps 100 
  class copp-s-dhcpreq
    police pps 300 
  class copp-s-dhcpresp
    police pps 300 
  class copp-s-dai
    police pps 300 
  class copp-s-igmp
    police pps 400 
  class copp-s-routingProto2
    police pps 4000 
  class copp-s-v6routingProto2
    police pps 1600 
  class copp-s-eigrp
    police pps 200 
  class copp-s-pimreg
    police pps 200 
  class copp-s-pimautorp
    police pps 200 
  class copp-s-routingProto1
    police pps 4000 
  class copp-s-arp
    police pps 200 
  class copp-s-ptp
    police pps 1000 
  class copp-s-bfd
    police pps 350 
  class copp-s-bpdu
    police pps 6000 
  class copp-icmp
    police pps 200 
  class copp-telnet
    police pps 500 
  class copp-ssh
    police pps 500 
  class copp-snmp
    police pps 500 
  class copp-ntp
    police pps 100 
  class copp-tacacsradius
    police pps 400 
  class copp-stftp
    police pps 400 
control-plane
  service-policy input copp-system-policy 
hardware profile tcam region vacl 0
hardware profile tcam region e-vacl 0
hardware profile tcam region ipv6-qos 256
hardware profile tcam region e-racl 1024
hardware profile portmode 64x10G
hardware profile parity-error l2-table clear
snmp-server user admin network-admin auth md5 0x2e79f7a6e05301e6688b683e1e06a743 priv 0x2e79f7a6e05301e6688b683e1e06a743 localizedkey
snmp-server user failback network-admin auth md5 0x2e79f7a6e05301e6688b683e1e06a743 priv 0x2e79f7a6e05301e6688b683e1e06a743 localizedkey
snmp-server host 10.20.7.33 traps version 2c msft 
snmp-server host 10.20.7.33 use-vrf management
snmp-server host 10.20.4.167 traps version 2c msft 
snmp-server host 10.20.4.167 use-vrf management
snmp-server enable traps callhome event-notify
snmp-server enable traps callhome smtp-send-fail
snmp-server enable traps cfs state-change-notif
snmp-server enable traps cfs merge-failure
snmp-server enable traps aaa server-state-change
snmp-server enable traps zone unsupp-mem
snmp-server enable traps upgrade UpgradeOpNotifyOnCompletion
snmp-server enable traps upgrade UpgradeJobStatusNotify
snmp-server enable traps feature-control FeatureOpStatusChange
snmp-server enable traps sysmgr cseFailSwCoreNotifyExtended
snmp-server enable traps config ccmCLIRunningConfigChanged
snmp-server enable traps snmp authentication
snmp-server enable traps vtp notifs
snmp-server enable traps vtp vlancreate
snmp-server enable traps vtp vlandelete
snmp-server enable traps poe portonoff
snmp-server enable traps poe pwrusageon
snmp-server enable traps poe pwrusageoff
snmp-server enable traps poe police
snmp-server community Wh7y0011tTl3333 group network-operator
snmp-server community Wh7y0011tTl3333 use-acl snmp-only
ntp server 10.20.8.129 use-vrf management
ntp server 10.20.8.130 use-vrf management
ntp source-interface  mgmt0
aaa authentication login default group tacacs 
aaa accounting default group tacacs 
aaa authentication login error-enable 
aaa authentication login ascii-authentication 

vrf context management
  ip route 0.0.0.0/0 10.117.2.129
vlan 1
spanning-tree mode mst
spanning-tree port type edge bpduguard default
ip prefix-list DEFAULT-ONLY seq 5 permit 0.0.0.0/0 
ip prefix-list connected_to_bgp seq 5 permit 10.248.65.24/30 le 31 
ip prefix-list connected_to_bgp seq 1000 deny 0.0.0.0/0 
ipv6 prefix-list DEFAULT-ONLY-V6 seq 5 permit 0::/0 
route-map CONN-TO-BGP permit 10
  match ip address prefix-list connected_to_bgp 
route-map DEFAULT-ONLY permit 10
  match ip address prefix-list DEFAULT-ONLY 
service dhcp
ip dhcp relay
port-channel load-balance ethernet source-dest-port


interface Vlan1

interface Ethernet1/1

interface Ethernet1/2

interface Ethernet1/3

interface Ethernet1/4

interface Ethernet1/5

interface Ethernet1/6

interface Ethernet1/7

interface Ethernet1/8

interface Ethernet1/9

interface Ethernet1/10

interface Ethernet1/11

interface Ethernet1/12

interface Ethernet1/13

interface Ethernet1/14

interface Ethernet1/15

interface Ethernet1/16

interface Ethernet1/17

interface Ethernet1/18

interface Ethernet1/19

interface Ethernet1/20

interface Ethernet1/21

interface Ethernet1/22

interface Ethernet1/23

interface Ethernet1/24

interface Ethernet1/25

interface Ethernet1/26

interface Ethernet1/27

interface Ethernet1/28

interface Ethernet1/29

interface Ethernet1/30

interface Ethernet1/31

interface Ethernet1/32

interface Ethernet1/33

interface Ethernet1/34

interface Ethernet1/35

interface Ethernet1/36

interface Ethernet1/37

interface Ethernet1/38

interface Ethernet1/39

interface Ethernet1/40

interface Ethernet1/41

interface Ethernet1/42

interface Ethernet1/43

interface Ethernet1/44

interface Ethernet1/45

interface Ethernet1/46

interface Ethernet1/47
  description INFRA:CORE:cys01-96cbe-1a:xe-2/3/3
  no switchport
  mtu 9178
  logging event port link-status
  no ip redirects
  ip address 10.117.0.59/31
  ipv6 address 2a01:0111::00cd:0000:0000:0000:0002/126
  ipv6 nd suppress-ra

interface Ethernet1/48
  description INFRA:CORE:cys01-96cbe-1b:xe-1/2/0
  no switchport
  mtu 9178
  logging event port link-status
  no ip redirects
  ip address 10.117.0.61/31
  ipv6 address 2a01:0111::00cd:0000:0000:0000:0006/126
  ipv6 nd suppress-ra

interface Ethernet1/49/1

interface Ethernet1/49/2

interface Ethernet1/49/3

interface Ethernet1/49/4

interface Ethernet1/50/1

interface Ethernet1/50/2

interface Ethernet1/50/3

interface Ethernet1/50/4

interface Ethernet1/51/1

interface Ethernet1/51/2

interface Ethernet1/51/3

interface Ethernet1/51/4

interface Ethernet1/52/1

interface Ethernet1/52/2

interface Ethernet1/52/3

interface Ethernet1/52/4

interface mgmt0
  description MGMT:10.117.2.128/25:cys01-x3sb-xcg-2-1a:mgmt0
  ip access-group mgmt-only in
  no ip redirects
  ip address 10.117.2.132/25

interface loopback0
  description MGMT:25.148.1.145/32:cys01-x3sb-xcg-2-1a:loopback0
  no ip redirects
  ip address 25.148.1.145/32
line console
  exec-timeout 60
line vty
  exec-timeout 60
  access-class ssh-only in
  ipv6 access-class ipv6-ssh-only in
boot kickstart bootflash:/n3000-uk9-kickstart.5.0.3.U5.1f.bin 
boot system bootflash:/n3000-uk9.5.0.3.U5.1f.bin 
router bgp 64512
  bestpath as-path multipath-relax
  log-neighbor-changes
  address-family ipv4 unicast
    network 25.148.1.145/32
    redistribute direct route-map CONN-TO-BGP
    maximum-paths 32
  template peer CORE
    address-family ipv4 unicast
      route-map DEFAULT-ONLY in
  template peer CORE_V6
    address-family ipv6 unicast
      route-map DEFAULT-ONLY-V6 in
  template peer LEAF
    address-family ipv4 unicast
  template peer LEAF_V6
    address-family ipv6 unicast
  neighbor 2a01:0111::00cd:0000:0000:0000:0001 remote-as 8075
    inherit peer CORE_V6
    description BGP to cys01-96cbe-1a
  neighbor 2a01:0111::00cd:0000:0000:0000:0005 remote-as 8075
    inherit peer CORE_V6
    description BGP to cys01-96cbe-1b
  neighbor 10.117.0.58 remote-as 8075
    inherit peer CORE
    description BGP to cys01-96cbe-1a
  neighbor 10.117.0.60 remote-as 8075
    inherit peer CORE
    description BGP to cys01-96cbe-1b
ip load-sharing address source-destination port source-destination
mac address-table aging-time 1510
system urpf disable
switching-mode store-forward
logging server 10.20.7.33
logging server 10.20.4.167
logging timestamp milliseconds
no logging console

